.graytext{
    color: gray;
    font-size: 17px;
    margin-top: 15px;
}
.alldiv{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 100px;
    .flex{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
}
.blackte{
    font-size: 20px;
}

.center{
    text-align: center;
    margin-top: 25px;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    color: gray;
    border-top: 1px solid lightgray;
}
@media (max-width:420px){
    .alldiv{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}