.stile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 0px 20px;
    border-radius: 6px;
    border: 1px solid gray;
    width: 850px;
    margin: auto;
}
.textpext{
    color: gray;
    font-size: 17px;
}
.virt{
    font-weight: 700;
    font-size: 30px;
}
.textfont{
    font-size: 30px;
    padding-left: 50px;
}
.textfonts{
 padding-left: 50px;
}
.flexplex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.drep{
    width: 80%;
    height: 180px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #5B52A3;
    color: white;
    margin-top: 50px;
}
.drepts{
    width: 80%;
    height: 180px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #5B52A3;
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.qash{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.flexs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.vbn{
    font-size: 30px;
}